/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
  color: #000000;
  font-size: 1.25rem;
  font-weight: 400;
}

img {
  display: block;
  max-width: 100%;
}

button {
  padding: 0.85rem 1.7rem;
  border-radius: 2rem;
  background: #f5c400;
  color: #302F31;
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
}

/* MAIN CONTAINER */
.hero {
  position: relative;
  overflow: hidden;
  padding: 4.44rem 1rem 9.69rem;
  z-index: 0;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("../assets/images/background.svg") top right / cover no-repeat;
  opacity: 0.4;
  z-index: 0;
}

.horizontal__line {
  position: absolute;
  inset: 0;
  z-index: 999;
  pointer-events: none;
}

.horizontal__line:before {
  content: "";
  position: absolute;
  top: 0;
  left: 47.5%;
  width: 12.5rem;
  height: 100%;
  background: #ffffff;
  transform: skewX(-25deg);
  transform-origin: top;
  opacity: 0.1;
}

.horizontal__line--secondary {
  left: 75%;
}

.horizontal__line--tertiary {
  left: 90%;
}

.horizontal__line--primary {
  transform: skewX(40deg);
  z-index: 0;
  left: 67%;
}

.horizontal__line--primary:before {
  background: linear-gradient(0deg, #476480 0%, #F94216 100%);
} 

.hero__container {
  position: relative;
  z-index: 1;
  max-width: 1560px;
  margin: 0 auto;
}

.hero__container--inner {
  display: flex;
  gap: 9.25rem;
}

.hero__content {
  max-width: 87.2%;
  margin-left: auto;
}

.hero__content--inner {
  max-width: 40%;
  margin-left: auto;
}

.hero__title {
  font-weight: 300;
  font-size: 3rem;
  background: linear-gradient(90deg, #466481, #BA0C2F);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero__description {
  font-weight: 400;
  font-size: 1.25rem;
  padding-top: 3.125rem;
  line-height: 2rem;
  text-align: justify;
}

.hero__content--card {
  padding-top: 2.25rem;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    50% 100%
  );
}

.hero__card--content {
  background: linear-gradient(95.89deg, #F94216 14.58%, #476480 51.56%);
  padding-top: 4rem;
  padding-bottom: 4rem;
  margin-top: 1rem;
}

.hero__card--content:nth-child(5n + 2) {
  background: linear-gradient(97.26deg, #F94216 17.58%, #476480 60.69%);
}

.hero__card--content:nth-child(5n + 3) {
  background: linear-gradient(97.55deg, #F94216 17.66%, #476480 64.69%);
}

.hero__card--content:nth-child(5n + 4) {
  background: linear-gradient(98.57deg, #F94216 19.36%, #476480 74.94%);
}

.hero__card--content:nth-child(5n + 5) {
  background: linear-gradient(99deg, #F94216 24.04%, #476480 94.09%);
}

.hero__card--inner:first-child {
  margin-top: 0;
}

.hero__card--inner {
  max-width: 34%;
  margin-left: auto;
  margin-right: 6%;
}

.hero__card--title {
  font-weight: 700;
  color: #A6C9E7;
  text-transform: uppercase;
  letter-spacing: 0.08rem;
  font-size: 2.25rem;
}

.hero__card--description {
  font-weight: 400;
  font-size: 2rem;
  padding-top: 1.25rem;
  color: #ffffff;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.hero__card--cta {
  margin-top: 1.25rem;
}

.hero__markers > img {
  padding-top: 6.19rem;
}

.hero__markers > img:first-child {
  padding-top: 0;
}

.hero__image {
  position: absolute;
  left: 0;
  clip-path: polygon(
    0 0,
    50% 0,
    100% 100%,
    0 100%
  );
  bottom: 17rem;
  max-width: 70%;
  width: min(88.6vw, 1382px);
  aspect-ratio: 1382 / 1101;
}

.hero__subimage {
  position: absolute;
  top: 0;
  left: 4.7rem;
  z-index: 9;
  clip-path: polygon(
    65% 0,
    100% 0,
    100% 100%,
    0 100%
  );
  width: min(52.3vw, 816px);
  aspect-ratio: 816 / 1226;
}

.hero__subimage img,
.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}